body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

.navbar-brand {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 37pt;
    color: #FFFFFF;
}

.collapse {
    display: flex;
    justify-content: end;
}

.navbar-nav a {
    color: #FFFFFF;
}

#seccion {
    display: flex;
    margin: 20px 150px 20px 150px;
}

#seccion .img-principal {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 10px;
}

#seccion .text {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.botones-i button{
    margin-right: 20px;
}

.linea-bor {
    border-bottom: 1px solid #000000;
    margin-bottom: 20px;
    margin-top: 20px;
}

#carrusel {
    display: flex;
    justify-content: center;
    margin: 0px 150px 0px 150px;
}

#text-body {
    display: flex;
    justify-content: center;
    margin: 0px 150px 20px 150px;
    border-top: 1px solid #000000;
    margin-bottom: 50px;
}

.titulo {
    color: #000;
    text-decoration: underline;
    margin-bottom: 20px;
}

#preparacion {
    margin-bottom: 50px;
}

#text-body .rece {
    display: flex;
    justify-content: center;
    
}

.rece ul {
     list-style: none;
    padding: 0;
}

#otros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 150px 20px 150px;

}

#otros .centrar-text {
    text-align: center;
    margin-bottom: 50px;
    font-family: "Cabin", sans-serif;
    font-weight: 700;

}

.carousel-indicators {
    position: relative !important;
    margin: 20px;

}

#carouselExampleIndicators button {
    background-color: #212529;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.centrar-f {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-f {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    padding-top: 150px;
}

.text-f h2 h3 {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
}

.text-f button {
    width: 233px;
}



